<h1>Welcome to Hobby Bikes!</h1>
<h2>We've got it all - road bikes, gravel bikes, mountain bikes, city bikes, e-bikes - at affordable prices!</h2>
<p>At Hobby Bikes, our philosophy is that every life would be better with a bicycle. To make our philosophy a reality, we don't sell over-priced bicycles made for the pros.</p>
<p>Our products are made for everyday folks, whether you're a beginner or you've been cycling your whole life. Our affordable bicycles are durable, reliable, FUN!</p>

<p>
    <a href="/bikes">Find the best bike for you!</a>
</p>