<!DOCTYPE html>
<html>
    <head>
        <title>Hobby Bikes Online</title>
    </head>
    <body>
        <h1>Welcome to Hobby Bikes!</h1>
        <p>A bike for every purpose</p>

        <p>
            <a href="/bikes">Browse Bikes</a>
        </p>
    </body>
</html>