<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= @title || "Bike Shop" %></title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Hobby Bikes</h1>

      <nav class="navbar">
        <div class="nav-left">
          <a href="/">Home</a>
          <a href="/bikes">Bikes</a>
        </div>

        <div class="nav-right">
          <% if current_user %>

            <span>
              Logged in as <%= current_user['email'] %>
            </span>

            <a href="/cart">Cart</a>
            <a href="/logout">Logout</a>

          <% else %>

            <a href="/login">Login</a>
            <a href="/register">Register</a>

          <% end %>
        </div>

      </nav>

      <hr>
    </header>

    <main>
      <%= yield %>
    </main>
  </div>
</body>
</html>