<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @title || "Come get into the hobby of cycling today!" %></title>
  <meta name="description" content="<%= @description || "Find the right bike for you - a bike that makes you happy, healthy, and hungry for more riding!" %>">
  <meta name="keywords" content="bike, bicycle, cycling">

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="site-header">
    <a href="/" class="brand-link">
      <img src="/images/brand.png" class="brand" alt="Hobby Bikes">
    </a>

    <nav class="navbar">
      <div class="nav-left">
        <a href="/">Home</a>
        <a href="/bikes">Bikes</a>
      </div>

      <div class="nav-right">
        <% if current_user %>

          <span>
            Logged in as <%= current_user['email'] %>
          </span>

          <a href="/cart">Cart</a>
          <a href="/logout">Logout</a>

        <% else %>

          <a href="/login">Login</a>
          <a href="/register">Register</a>

        <% end %>
      </div>

    </nav>

    <hr>
  </header>

  <main>
    <%= yield %>
  </main>
</body>
</html>