<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= @title || "Bike Shop" %></title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header>
    <h1>Bike Shop</h1>

    <nav>
      <a href="/">Home</a>
      <a href="/bikes">Bikes</a>

      <% if current_user %>
        <span>
          Logged in as
          <%= current_user['email'] %>
        </span>

        <a href="/logout">Logout</a>

      <% else %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>

      <% end %>
    </nav>

    <hr>
  </header>

  <main>
    <%= yield %>
  </main>

</body>
</html>