<h2>Create Account</h2>

<form method="post" action="/register">

  <label>Email</label>
  <br>

  <input
    type="email"
    name="email"
    placeholder="example@domain.com"
    required>

  <br><br>

  <label>Password</label>
  <br>

  <input
    type="password"
    name="password"
    required>

  <br><br>

  <button type="submit">
    Register
  </button>

</form>