body {
    background-color: #f7faff;
    font-family:
        Arial,
        Helvetica,
        sans-serif;
    margin: 0;
}

main {
    text-align: center;
}

.site-header {
    position: sticky;
    top: -145px;
    z-index: 1000;
    box-sizing: border-box;
    background-color: #242526;
    width: 100%;
    padding: 1rem;
}

.site-header a {
    color: #eceded;
}

.site-header a:hover {
    color: #2af;
}

.brand {
    max-height: 120px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.brand-link {
    display: block;
    text-align: center;
}

.container {
    width: 95%;
    max-width: 1900px;
    margin: 0;
    padding: 2rem;
}

h1 {
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 14pt;
}

a:hover {
    color: #2af;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.bike-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
}

.bike-card {
    text-align: center;
    padding-bottom: 50px;
}

.bike-image-link {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 250px;
}

.bike-image {
    max-height: 100%;
    width: auto;
}

.bike-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.50);
    opacity: 0;
    transition: opacity .3s ease;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.bike-image-link:hover .bike-overlay {
    opacity: 1;
}

.bike-card h2 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.bike-card h2 a {
    color: #000;
    text-decoration: none;
}

.bike-card h2 a:hover {
    text-decoration: underline;
}

.price {
    color: #000;
    font-size: 1.1rem;
}

.bike-title {
    text-align: center;
    margin-bottom: 3rem;
}

.bike-detail {
    display: flex;
    gap: 4rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.bike-photo {
    flex: 3;
}

.bike-photo img {
    width: 100%;
    height: auto;
    display: block;
}

.bike-info {
    flex: 2;
    font-size: 1.1rem;
    line-height: 1.8;
}