body {
    background-color: #242424;
    color: #faf1d9;

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    max-width: 1200px;

    margin: auto;

    padding: 2rem;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

a:hover {
    color: white;
}